.navbar-brand h1 {
    color: black;
    font-size: 1.75em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -40px;
}

ul#nav-list {
    background-color:gainsboro;
    margin: 0 10px;
}

#nav-list a {
    color: #951C49;
}

#nav-list a:hover {
    background: #E7E7E7;
}

#single_cell {
    text-align: left;
    background-color: gainsboro;
    margin: 0 30px 0 30px;
    padding: 0 30px 0 30px;
}


h3#chicken {
    font-size: 1.25em;
    margin-bottom: 20px;
}